html, body{
	 
	height: 100%;
	width: 960px;
	margin: 0 auto;


}
.menu{
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 50%;
	height: 40px;

}
.menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	left: -999px;

}
.menu li{
	float: left;
	position: relative;
	left: -50%;
}
.menu li li{
	float: none;
}
.menu li a{
	display: block; 
	padding: 3px;
	margin-right: 2px;
	border: 1px solid black;
}
.menu li:hover ul{
left: 0px;
}
.block{
	height: 100%;
	width: 300px;
	background: blue;
	margin-top: 3px;
	display: inline-block;


}
.block1{
	background: yellow;

}
	span{
		border: inherit;

	}

.block2{
	background: black;
}
	.main{
		height: 100%;
		margin-top:40px;
}
footer{
	height: 50px;
	background: blue;
}













